#contact {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 91.7vh;
  }
  
  .contact-form-container {
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
  }
  
  .contact-form-container button {
    margin: 20px 0;
  }
  
  .contact-form-container input {
    background-color: var(--color-background);
    border: none;
    appearance: none;
    border-radius: 10px;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  
  .contact-iconsocial-container {
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
  }
  
  .contact-iconsocial-container a {
    text-decoration: none;
    color: white;
  }
  
  .iconsocial {
    font-size: 50px;
    margin: 0 15px;
    transition: 0.5s;
  }
  
  .iconsocial:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .contact-form-container {
      color: white;
      text-align: center;
      font-size: 20px;
      line-height: 50px;
    }
  }